<div class="container-fluid p-0">
  <div class="row wrapper">
    <div class="sideNavClass col-3">
      <app-sidenav></app-sidenav>
    </div>
    <div
         id="content">
      <div class="toggle-button-aside fixed-top">
        <button type="button"
                id="sidebarCollapse"
                class="btn"
                (click)="toggleSide()">
          <span><img
                 src="https://img.icons8.com/material-rounded/24/000000/menu.png"></span>
          <br>
          <span>Menu</span>
        </button>
      </div>
    </div>
    <div class="routerOutletClass container-fluid mt-5 col-8">
      <router-outlet></router-outlet>
    </div>
  </div>
  <script src="node_modules/chart.js/src/chart.js"></script>

</div>
