
#content{
    min-height: auto;
    min-width: 100%;
}
.toggle-button-aside{
    position: relative;
    transform: translateX(17%);
}

#sidebarCollapse {
  background: #096b6e;
  color: #fff;
}

#sandwich {
  background-color: #fff;
}

