<div class="container-fluid">
<div class="wrapper">
    <div class="col-3">
        
            <app-sidenav></app-sidenav>
            <!-- Sidebar -->
        
        
            <!-- Page Content -->
            <div id="content">
                <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="toggleSide()">
                    <span>Toggle Sidebar</span>
                </button>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                </nav>
            </div>
          </div>
    <router-outlet></router-outlet>
       
</div>
  </div>

<!--
<div class="container-fluid ml-0 mr-0">
  <div class="row ml-0">
    <div class="wrapper ml-0">
      <app-sidenav></app-sidenav>

      <div id="content">
        <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="toggleSide()">
          <span>Toggle Sidebar</span>
        </button>
        <nav class="navbar navbar-expand-lg navbar-light bg-light"> </nav>
      </div>
      <div class="mr-0">
       <router-outlet></router-outlet>
      </div>
</div>
</div>
</div>
-->
