#urlPostfix {
  border: none;
  background-color: white;
  color: #000000
}

.simple-form input {
  margin: 0 .25rem;
  min-width: 125px;
  border: 1px solid #eee;
  border-left: 3px solid;
  border-radius: 5px;
  transition: border-color .5s ease-out;
}

.simple-form input:optional {
  border-left-color: #999;
}

.simple-form input:required {
  border-left-color: palegreen;
}

.simple-form input.ng-invalid {
  border-left-color: salmon;
}


.heading {
  text-align: center;
  position: relative;
  font-size: 3.3rem;
  font-weight: bold;
  margin: 3rem 0;
  margin-top: -60px;
  color: #10989c;
}

#baseContainer {
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px 70px;
  border-collapse: collapse;
  overflow-x:auto;
}

label {
  font-size: 17px;
}
