a[data-toggle="collapse"] {
  position: relative;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 200%;
  background: #0a898d;
  color: white;
  transition: all 0.3s;
  position: fixed;

  
  
 

}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  
  
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
 
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #03338e;
  background: #dddddd;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #10989c;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0;
  }
}

#sidebar-content {
    position: fixed;
}

.wrapper {
  
  width: 100%;
  align-items: stretch;
}
