<nav id="sidebar">
<div id="sidebar-content">
    <div class="sidebar-header">
            <h3>Admin site</h3>
        </div>
       <div>
            <ul class="list-unstyled components">
                <li>
                    <a routerLink="/dashboard" data-toggle="collapse" aria-expanded="false" >Dashboard</a>
                </li>
                <li>
                    <a routerLink="/products">Products</a>
                </li>
                <li>
                    <a routerLink="/customers" data-toggle="collapse" aria-expanded="false">Customers</a>
                </li>
            </ul>
       </div>
</div>
</nav>
