doctype html
head
  meta(charset='utf-8')
  title Gastronaut admin page
  base(href='/admin/')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='icon' type='image/x-icon' href='/images/icons/favicon.ico')
app-root
script(src='/admin/runtime-es2015.js' type='module')
script(src='/admin/polyfills-es2015.js' type='module')
script(src='/admin/runtime-es5.js' nomodule='')
script(src='/admin/polyfills-es5.js' nomodule='')
script(src='/admin/styles-es2015.js' type='module')
script(src='/admin/styles-es5.js' nomodule='')
script(src='/admin/scripts.js')
script(src='/admin/vendor-es2015.js' type='module')
script(src='/admin/main-es2015.js' type='module')
script(src='/admin/vendor-es5.js' nomodule='')
script(src='/admin/main-es5.js' nomodule='')
