doctype html
html
  head
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/productName404.css', rel='stylesheet')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='/javascripts/productName404.js')
  body
    section.error_section
      p.error_section_subtitle 
        strong Ooops, this page cannot be found. Please, try again!
      h1.error_title
        p 404
        |         404
      a.btn(href='/') Home
