extends layout

block content
      .row.text-right
        .col-sm-12#astrodiv
          h1(style="font-size:6vw;") THE GASTRONAUT
          h4(style="font-size:3vw;") 
           | Delicious dishes 
           | for the galaxy and beyond
