extends layout

block content
  link(rel="/stylesheets/index.css", href="style.css")
  body#backgroundCover
    .row.text-right
      .col-sm-12#astrodiv.mt-5.mb-5
        h1(style="font-size:6vw;") THE GASTRONAUT
        br
        h4(style="font-size:2vw;") Delicious dishes for the galaxy 
        h4(style="font-size:2vw;") and beyond
