extends layout

block content
  body#backgroundCover
      .row.text-right
        .col-sm-12#astrodiv
          h1(style="font-size:6vw;") THE GASTRONAUT
          br
          h4(style="font-size:2vw;") Delicious dishes for the galaxy 
          h4(style="font-size:2vw;") and beyond
