doctype html
html
  head
    title The Gastronaut
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png")
  body
    nav.navbar.navbar-expand-lg.navbar-dark.sticky-top
      a.navbar-brand(href="/") Explore the Foodyverse!
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href="/products") Space meals 
          li.nav-item
            a.nav-link(href="/") Contact us
        ul.navbar-nav
          if loggedcustomer
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                | #{loggedcustomer.firstName} #{loggedcustomer.lastName}
              .dropdown-menu(aria-labelledby='navbarDropdown')
                a.dropdown-item(href="/basket") Basket
                a.dropdown-item(href='/orders') Orders
                a.dropdown-item(href='#') Settings
                .dropdown-divider
                a.dropdown-item(href="/login/logout") Log out
            li.nav-item
              a.nav-link(href="/basket")
                img(src="/images/icons/shopping-cart.png", width="auto", height="20px")
                sup #{basketValue}
          else if loggedadmin
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                | Admin options
              .dropdown-menu(aria-labelledby='navbarDropdown')
                a.dropdown-item(href="/admin") Admin page
                .dropdown-divider
                a.dropdown-item(href="/login/logout") Log out
          else
            li.nav-item
              a.nav-link#loginNavLink(href="/login") Login/Register
    br

    .container
      block content



    script(src="/javascripts/jquery.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")