doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-expand-lg.navbar-primary.bg-dark.sticky-top
      a.navbar-brand(href="/") Planet Pizza
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href="/") Home
          li.nav-item
            a.nav-link(href="/products") Products
            li.nav-item
            a.nav-link(href="/products") Contact us
        ul.navbar-nav
          if loggedcustomer
            li.nav-item
              a.nav-link(href="/") #{loggedcustomer.firstName} #{loggedcustomer.lastName}
            li.nav-item
              a.nav-link(href="/basket")
                img(src="/images/icons/shopping-cart.png", width="auto", height="20px")
                sup
                  span.fa-stack
                    span.fa.fa-circle-o.fa-stack-2x
                    strong.fa-stack-1x #{basketValue}
            li.nav-item
              a.btn.btn-primary(href="/login/logout") Log out
          else
            li.nav-item
              a.btn.btn-primary(href="/login") Log in
    br

    .container
      block content



    script(src="/javascripts/jquery.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")