doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body#backgroundCover
    nav.navbar.navbar-expand-lg.navbar-dark.sticky-top
      a.navbar-brand(href="/") Explore the Foodyverse!
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href="/products") Space meals 
            li.nav-item
            a.nav-link(href="#") Contact us
  .container
    block content
    


    script(src="/javascripts/jquery.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")