extends layout

block content
  table.table
    tbody
      each order in orders
        tr
          td #{order.id}
          td #{order.orderDate}
          td
            each product in order.products
              p #{product.productName}