extends layout

block content
  h1 EZ ITTEN A PRODUCTS OLDAL HELYE
  p Majd rendesen behúzzuk az adatokat, ha lesz honnan, addig is, ez egy placeholder

  table.table
    thead.thead-dark
      tr
        th(scope='col') #
        th(scope='col') Yummies 
        th(scope='col') Yummie types
        th(scope='col') Price
        th(scope='col') Button place
    tbody
      tr
        th(scope='row') 1
        td Mark
        td Otto
        td @mdo
        td
            btn.btn.btn-info Show me more
      tr
        th(scope='row') 2
        td Jacob
        td Thornton
        td @fat
        td
            button.btn.btn-info Show me more
      tr
        th(scope='row') 3
        td Larry
        td the Bird
        td @twitter
        td
            btn.btn.btn-info Show me more

