extends layout

block content
  link(href='/stylesheets/register.css', rel='stylesheet')
  if (notValidmessage)
    .container
      .alert.alert-danger.m-3  #{email} #{notValidmessage} 
  .container.login-container
    .row
      form.col-md-6.login-form
        h3 Login
        .form-group
          input.form-control(name='krumpli' type='text' disabled)
        .form-group
          input.form-control(name='password' type='password' disabled)
        br
        .form-group
          a.btn.btnSubmit(href="/login") Back to Login
      script
        include ../public/javascripts/zxcvbn.js
      script
        include ../public/javascripts/registerFromVal.js
      link(href='/stylesheets/validation.css', rel='stylesheet')  
      form.col-md-6.registration-form.simple-form(method='post', name="registerForm", onsubmit="formCheckValidation(event)")
        .login-logo
          img(src='https://image.ibb.co/n7oTvU/logo_white.png')
        h3 Register
        .form-group
          input.form-control.fname(type='text', name='firstName' , placeholder='Firstname *', oninput="validateFirstName()")
          p.error.message-fname Invalid firstname!
        .form-group
          input.form-control.lname(type='text', name='lastName' , placeholder='Lastname *', oninput="validateLastName()")
          p.error.message-lname Invalid lastname!
        .form-group
          input.form-control.registerEmail(type='text', name='email' , placeholder='Email address *',  oninput="validateEmail()")
          p.error.message-email Invalid Email!
        .form-group
          input.form-control.registerPassword#password(type='password' , name='password', placeholder='Password *' oninput="validatePassword()")
          p#password-strength-text
          meter#password-strength-meter(max="4")
          p.error.message-password Use stronger password
        .form-group
          input.form-control.registerAddress(type='text', name='address' , placeholder='Address *', oninput="validateAddress()")  
          p.error.message-address Invalid Address!
        br  
        .form-group
          button.registerButton.btnSubmit(type='submit' ) Register
