<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap"
  rel="stylesheet">
<div class="box">
  <div class="container">
    <h2 class="heading">Dashboard</h2>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
<br><br>
    <div class="row">
      <div class="col-md-4">
        <figure class="text-center">
          <img src="https://picsum.photos/400/233" alt="customers">
          <figcaption>
            <h5>Customers</h5>
            <h3>Total: {{ customerList$.length }} </h3>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="text-center">
          <img src="https://picsum.photos/402/233" alt="products">
          <figcaption>
            <h5>Products</h5>
            <h3>Active: </h3>
            <h3>Total: {{ productList$.length }} </h3>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-4">
        <figure class="text-center">
          <img src="https://picsum.photos/401/233" alt="img1">
          <figcaption>
            <h5>Orders</h5>
            <h3>Active: </h3>
            <h3>Total: </h3>
          </figcaption>
        </figure>
      </div>
    </div>

  </div>
</div>