/* form {
  font-size: 17px;
  font-family: basic-sans-sherif;
  font-weight: bold;
} */

  .simple-form input {
    margin: 0 .25rem;
    min-width: 125px;
    border: 1px solid #eee;
    border-left: 4px solid;
    border-radius: 5px;
    transition: border-color .5s ease-out;
    font-size: 17px;
    font-family: basic-sans-sherif;
    font-weight: bold;
  }

  .simple-form input:optional {
    border-left-color: rgb(234, 238, 4);
  }

  .simple-form input:required {
    border-left-color: rgb(18, 221, 18);
  }

  .simple-form input.ng-invalid {
    border-left-color: rgb(235, 49, 29);
  }

#baseContainer {
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px 70px;
  border-collapse: collapse;
  overflow-x:auto;
}

label, .btn {
  font-size: 17px;
  font-family: basic-sans-sherif;
  font-weight: bold;
}
