<div class="container text-center">
  <h2> Customer admin page </h2>
</div>
<br>
<div class="d-flex justify-content-center">
  <div class="text-center searchInput">
    <input type="text"
           class="form-control"
           [(ngModel)]="searchCustomer"
           placeholder="Search for a customer email">
  </div>
</div>
<br>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>First name</th>
      <th>Last name</th>
      <th>User name</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    <tr
        *ngFor="let customer of customerList$ | customerFilter:searchCustomer:changeCounter">
      <td>{{ customer.id }}</td>
      <td>{{ customer.firstName }}</td>
      <td>{{ customer.lastName }}</td>
      <td>{{ customer.email }}</td>
      <td>{{ customer.password }}</td>
      <td>
        <div class="btn-group">
          <a class="btn btn-warning"
             routerLink="/customers/update/{{customer.id}}">Edit</a>
          <a class="btn btn-danger"
             (click)="onCustomerDelete(customer.id)">Delete</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
