<div class="container text-center">
  <h2> Customers admin page </h2>
</div>
<br>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-5 text-center searchInput">
      <input type="text"
             class="form-control"
             [(ngModel)]="searchCustomer"
             placeholder="Search for a customer email">
    </div>
  </div>
</div>
<br>

<div class="container-fluid">
  <div class="row justify-content-center text-center">
    <table class="col-11 table table-striped table-hover">
      <thead>
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">User name</th>
          <th scope="col">Password</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let customer of customerList$ | customerFilter:searchCustomer:changeCounter">
          <td>{{ customer.id }}</td>
          <td>{{ customer.firstName }}</td>
          <td>{{ customer.lastName }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.password }}</td>
          <td>
            <a class="btn btn-warning"
               routerLink="/customers/update/{{customer.id}}">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>