/* You can add global styles to this file, and also import other style files */

@media only screen and (max-width: 1400px) {
  body {
    background-color: lightblue;
  }

  /* .sideNavClass {
    z-index: 10000;
    display: none;
  } */
}

.routerOutletClass table {
 z-index: 0;
}

.sideNavClass {
    z-index: 10000;
}



#headingText {
  color: white;
  font-family: spacetext;
  text-align: center;
  position: relative;
  font-size: 3.3rem;
  font-weight: bold;
  margin-top: 20px;
}

body {
  background-image: url("/assets/images/angularBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


#baseContainer {
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 40px;
  border-collapse: collapse;
}

.greenBtn {
  background-color: #0a898d;
  color: #fff;
}


.blackBtn{
  color: #0a898d;
  background-color: #000c14;
}
