<div class="container text-center">
  <h2> Orders admin page </h2>
</div>
<br>
<div class="d-flex justify-content-center">
  <div class="text-center searchInput">
    <input type="text"
           class="form-control"
           [(ngModel)]="searchText"
           placeholder="Search">
  </div>
</div>
<br>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Customer ID</th>
      <th>Customer name</th>
      <th>Total price</th>
      <th>Order date</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orderList"
        class="alert alert-secondary">
      <td>{{ order.id }}</td>
      <td>{{ order.customerID }}</td>
      <td>{{ order.firstName }} {{order.lastName}}</td>
      <td>{{ order.totalPrice }}</td>
      <td>{{ order.orderDate | date:'short' }}</td>
      <td><select name="order.status"
                id="order.status"
                class="selectpicker show-tick"
                value="order.status">
          <option value="true">Active</option>
          <option value="false">Inactive</option>
        </select></td>
      <td>
        <div class="btn-group">
          <a class="btn btn-info"
             routerLink="/orders/update/{{order.id}}">Edit</a>
          <a class="btn btn-danger"
             (click)="onDelete(order.id)">Delete</a>
        </div>
      </td>
    </tr>
  </tbody>

</table>