#headingText {
  color: white;
  font-family: spacetext;
  text-align: center;
  position: relative;
  font-size: 3.3rem;
  font-weight: bold;
  margin-top: 20px;
}

#baseContainer {
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px 70px;
  border-collapse: collapse;
  overflow-x:auto;
}

.searchInput {
  width: 30vw;
}

table, input {
  font-size: 17px;
  font-family: basic-sans-sherif;
  color: #000;
}

.greenBtn {
  background-color: #0a898d;
  color: #fff;
}

