

#baseContainer {
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px 70px;
  border-collapse: collapse;
  overflow-x:auto;
}

.searchInput {
  width: 30vw;
}

label {
  color: #fff;
}

.greenBtn {
  background-color: #0a898d;
  color: #fff;
}


.blackBtn {
  color: #0a898d;
  background-color: #000c14;
}

table, input {
  font-size: 17px;
  font-family: basic-sans-sherif;
  color: #000;
}
