<div class="container text-center">
  <h2> Products admin page </h2>
</div>
<br>
<div class="text-center">
    <a routerLink="/products/new"
       class="btn btn-info">New product</a>
</div>
<br>
<div class="d-flex justify-content-center">
  <div class="text-center searchInput">
    <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search">
  </div>
</div>
<br>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>URL - postfix</th>
            <th>Type</th>
            <th>Price</th>
            <th>Directions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productList | productFilter:searchText:changeCounter">
            <td>{{ product.id }}</td>
            <td>{{ product.productName }}</td>
            <td>{{ product.urlPostfix }}</td>
            <td>{{ product.type }}</td>
            <td>{{ product.price }}</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-info"
                       routerLink="/products/update/{{product.id}}">Edit</a>
                    <a class="btn btn-danger"
                       (click)="onDelete(product.id)">Delete</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<!--<div class="position-sticky col-12">
    <div class="row">
        <div class="col-3">
            <p>Selected product</p>
        </div>
    </div>
    <div class="row">

        <div class="col-2">
            <p>ID</p>
        </div>
        <div class="col-2">
            <p>Name</p>
        </div>
        <div class="col-3">
            <p>Postfix</p>
        </div>
        <div class="col-2">
            <p>Type</p>
        </div>
        <div class="col-3">
            <p>price</p>
        </div>
    </div>
</div>-->
