<div class="container">
    <h1 id="headingText"> Products admin page </h1>
</div>
<br>

<div class="container" id="baseContainer">
  <div class="text-center">
    <a routerLink="/products/new"
       class="btn greenBtn">New product</a>
</div>
<br>
<div class="d-flex justify-content-center" id="search">
    <div class="text-center searchInput">
        <input type="text"
               class="form-control"
               [(ngModel)]="searchText"
               placeholder="Search">
    </div>
</div>
<br>
<table class="table table-light table-hover table-responsive text-center">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>URL-postfix</th>
            <th>Type</th>
            <th>Price</th>
            <th>Active</th>
            <th>Directions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productList | productFilter:searchText:changeCounter">
            <td>{{ product.id }}</td>
            <td>{{ product.productName }}</td>
            <td>{{ product.urlPostfix }}</td>
            <td>{{ product.type }}</td>
            <td>{{ product.price }}</td>
            <td *ngIf="product.active==1; else elseBlock">Active</td>
            <ng-template #elseBlock>
                <td>Inactive</td>
            </ng-template>
            <td>
                <div class="btn-group">
                    <a class="btn greenBtn"
                       routerLink="/products/update/{{product.id}}">Edit</a>
                    <a class="btn blackBtn"
                       (click)="onDelete(product.id)">Delete</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>

</div>
