<div class="text-center">
    <h2>Edit order data</h2>
</div>
<br>

<div class="d-flex justify-content-center">
    <div class="container">

        <form class="form simple-form"
              (submit)="onUpdate()">
            <div class="text-center"><label for="orderid">OrderID</label></div>
            <p class="text-center">{{editOrder.id}}</p>
            <div class="text-center"><label for="orderDate">Order date</label></div>
            <p class="text-center">{{editOrder.orderDate | date:'short'}}</p>
            <div class="text-center"><label for="customerid">Customer ID</label></div>
            <p class="text-center">{{editOrder.customerID}}</p>
            <div class="text-center"><label for="customerfname">Customer name</label></div>
            <p class="text-center">{{editOrder.firstName}} {{editOrder.lastName}}</p>
            <div class="text-center"><label for="products">Products</label></div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product name</th>
                        <th>Price / unit</th>
                        <th>Amount</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of editOrder.products; let i = index">
                        <td>{{product.id}}</td>
                        <td>{{product.productName}}</td>
                        <td>{{product.price}}</td>
                        <td class="btn-group"><a class="btn btn-info"
                               (click)="changingAmountMinus(i)">
                                <</a> <input
                                   class="text-center amountCounter"
                                   type="text"
                                   value="{{product.amount}}">

                                    <a class="btn btn-info"
                                       (click)="changingAmountPlus(i)">>
                                    </a></td>
                        <td><button class="btn btn-danger"
                                    (click)="deleteProduct(i)">Delete</button></td>
                    </tr>


                </tbody>

            </table>
            <div class="text-center"><label for="address">Shipping address</label></div>
            <input class="form-control"
                   type="text"
                   name="address"
                   id="address"
                   placeholder="Shipping address"
                   [(ngModel)]="editOrder.shippingAddress">
            <div class="text-center"><label for="totalPrice">Total price</label></div>
            <p class="text-center">{{editOrder.totalPrice}}</p>
            <br>
            <div class="text-center">
                <select class="btn btn-success"
                        id="status"
                        name="status"
                        [(ngModel)]="editOrder.status">
                    <option [value]="1"
                            class="btn btn-warning">Processing</option>
                    <option [value]="0"
                            class="btn btn-success">Completed</option>
                </select>
            </div>
            <br>
            <div class="text-center">
                <button class="btn btn-info btn-block"
                        (click)="onUpdate()">Update</button>
            </div>
        </form>
        <br>
        <div class="d-flex justify-content-center">
            <p>If you wanna delete</p>
        </div>
        <button class="btn btn-block btn-danger"
                data-target="#deleteConfirm"
                data-toggle="modal">Delete</button>
        <br>
        <div class="modal"
             tabindex="-1"
             role="dialog"
             id="deleteConfirm">
            <div class="modal-dialog"
                 role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete confirm</h5>
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <p> Do You want to delete {{editOrder.firstName }} {{editOrder.lastName}} customer {{editOrder.id}}. Order?</p>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="button"
                                class="btn btn-success"
                                data-dismiss="modal">Cancel</button>
                        <button type="button"
                                class="btn btn-primary"
                                data-dismiss="modal"
                                (click)="onSoftDelete()">Switch status</button>
                        <button type="button"
                                class="btn btn-danger"
                                data-dismiss="modal"
                                (click)="onDelete(editOrder.id)">Hard delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>