<div class="text-center">
    <h1>Edit {{editOrder.orderID}} page</h1>
</div>
<br>

<div class="d-flex justify-content-center">
    <div class="newInputs">
        <form class="form simple-form"
              (submit)="onUpdate()">
            <div class="text-center"><label for="orderid">OrderID</label></div>
            <p class="text-center">{{editOrder.id}}</p>
            <div class="text-center"><label for="orderDate">Order date</label></div>
            <p class="text-center">{{editOrder.orderDate | date:'short'}}</p>
            <div class="text-center"><label for="customerid">Customer ID</label></div>
            <p class="text-center">{{editOrder.customerID}}</p>
            <div class="text-center"><label for="customerfname">Customer name</label></div>
            <p class="text-center">{{editOrder.firstName}} {{editOrder.lastName}}</p>
            <div class="text-center"><label for="products">Products</label></div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product ID</th>
                        <th>Product name</th>
                        <th>Price / unit</th>
                        <th>Amount</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of editOrder.products; let i = index">
                        <td>{{product.id}}</td>
                        <td>{{product.productName}}</td>
                        <td>{{product.price}}</td>
                        <td class="btn-group"><a class="btn btn-info"
                               (click)="changingAmountMinus(i)">
                                <</a> <input
                                   class="text-center"
                                   type="text"
                                   value="{{product.amount}}">

                                    <a class="btn btn-info"
                                       (click)="changingAmountPlus(i)">>
                                    </a></td>
                        <td><button class="btn btn-danger"
                                    (click)="deleteProduct(i)">Delete</button></td>
                    </tr>

                </tbody>

            </table>
            <div class="text-center"><label for="address">Shipping address</label></div>
            <input class="form-control"
                   type="text"
                   name="address"
                   id="address"
                   placeholder="Shipping address"
                   [(ngModel)]="editOrder.shippingAddress">
            <div class="text-center"><label for="totalPrice">Total price</label></div>
            <div class="text-center">
                <p>{{editOrder.totalPrice}}</p>
            </div>


            <div class="text-center">
                <button class="btn btn-info"
                        (click)="onUpdate()">Update</button>
            </div>
        </form>
    </div>
</div>

<!--<td>{{ order.id }}</td>
<td>{{ order.customerID }}</td>
<td>{{ order.totalPrice }}</td>
<td>{{ order.orderDate }}</td>

<td>
    <div class="btn-group">
        <a class="btn btn-info"
           routerLink="/orders/update/{{order.id}}">Edit</a>
        <a class="btn btn-danger"
           (click)="onDelete(order.id)">Delete</a>
    </div>
</td>-->