
@font-face {
    font-family: spacetext-bold;
    src: url(./../fonts/A-Space\ Bold\ Demo.otf);
  }
  
  @font-face {
    font-family: spacetext;
    src: url(./../fonts/A-Space\ Regular\ Demo.otf);
  }
  
  body {
    padding: 0;
    background-image: url("./../images/background/basketcover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
  }

#basketDiv {
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    vertical-align: middle;
    font-family: spacetext, spacetext-bold;
  }


#basketDiv tr, th {
    color: rgba(255, 255, 255, 0.877);

}

 #orderBtn{
    background-color: #0a898d;
    color: #000c14;
 }

 #emptyBasketBtn{
    color: #0a898d;
    background-color: #000c14;
 }

 #removeBtn{
    color: #0a898d;
    background-color: #fcc500;;
 }


 #productDetailsLink {
    color:#fcc500;
 }

 #emptyBasketText {
    color:#fcc500; 
 }