
@font-face {
   font-family: spacetext;
   src: url(./../fonts/A-Space\ Regular\ Demo.otf);
 }

@font-face {
    font-family: basic-sans-sherif;
    src: url(./../fonts/basic_sans_serif_7.ttf);
  }
 
  body {
    padding: 0;
    background-image: url("./../images/background/basketcover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  
#basketDiv {
    margin: 20px;
    background-color: rgba(255, 255, 255);
    padding: 20px;
    border-collapse: collapse;
    font-size: 17px;
    font-family: basic-sans-sherif;
    overflow-x:auto;
}

table {
   table-layout: fixed; 
}

#table tr th {
    color: #000c14;
}

 #orderBtn{
    background-color: #0a898d;
    color: #fff;
 }


 #emptyBasketBtn{
    color: #0a898d;
    background-color: #000c14;
 }


 #removeBtn{
    color: #0a898d;
    background-color: #000c14;
 }

 #addMoreBtn{
   color: #111;
   background-color: #a4a7a8;
   vertical-align: middle;
}

 #productDetailsLink {
    color: #0a898d;
    font-weight: bold;
 }


 #emptyBasketText {
    color: #000c14;
 }


 #emptyBasketText a {
    color: #0a898d;
 }

  
  #totalPriceText {
      font-size: 20px;
      font-weight: bold;
      text-shadow: 1px 1px #0a898d;
  }

  
#headingText {
   color: #fff;
   font-family: spacetext;
 }
 