#astrodiv {
  /* color:#000c14; */
  color: #fff;
  animation: astrodiv 2s linear;
}

#astrodiv h1 {
  font-family: spacebar;
  
}
@keyframes astrodiv {
  25%   { 
  transform: translateX(150%); 		
  }
  50%   { 
  transform: translateX(100%); 		
  }
  75%   { 
  transform: translateX(50%); 		
  }
  100% { 
  transform: translateX(0%); 
  }
 }

#astrodiv h4 {
  font-family: spacetext-bold;
}

.green-galaxy {
  height: 100%;
  width: 100%;
}

#backgroundCover1 {
  background-image: linear-gradient(to right,#000c14, #0a898d);
  margin: 0;
}