
@font-face {
    font-family: basic-sans-sherif;
    src: url(./../fonts/basic_sans_serif_7.ttf);
  }
 
@font-face {
   font-family: spacetext;
   src: url(./../fonts/A-Space\ Regular\ Demo.otf);
 }

  body {
    padding: 0;
    background-image: url("./../images/background/basketcover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  
#orderDiv {
    margin: 20px;
    background-color: rgba(255, 255, 255);
    padding: 0px;
    border-collapse: collapse;
    font-size: 17px;
    font-family: basic-sans-sherif;
    overflow-x:auto;
}


#orderDiv tr, th {
    color: #000c14;
}

 #orderBtn{
    background-color: #0a898d;
    color: #fff;
    vertical-align: middle;
 }


 #productDetailsLink {
    color: #0a898d;
    font-weight: bold;
 }

  #orderFooter {
   width: 100%;
   margin: 0px;
   padding: 0, 15px;
   align-items: center;
   background-color: #000c14;
   color: #0a898d;
  }

  #headingText {
   color: #fff;
   font-family: spacetext;
 }
 
  tr {
     padding: 2px;
  }

#totalPriceText {
   font-size: 20px;
   font-weight: bold;
   text-shadow: 1px 1px #0a898d;
}