input[name="orderedAmount"] {
  width: 55px;
  padding: 0;
  margin: 0;
  text-align: center;
  border: 1px solid #dfdfdf !important;
  background-color: #dfdfdf !important;
  border-radius: 10px;
}

/* Index page and navbar styling */

@font-face {
  font-family: spacebar;
  src: url(./../fonts/SPACEBAR.ttf);
}

@font-face {
  font-family: spacetext-bold;
  src: url(./../fonts/A-Space\ Bold\ Demo.otf);
}

@font-face {
  font-family: spacetext;
  src: url(./../fonts/A-Space\ Regular\ Demo.otf);
}


.navbar {
  background-color: #000c14;
  font-family: spacetext;
  /* opacity: 0.85; */
}

#loginNavLink {
  color:#0a898d;
  border : 2px solid#0a898d;
}

#loginNavLink:hover {
  color:#000c14;
  border : 2px solid #0a898d;
  background-color: #0a898d;
}
.card {
  display: block;
  border: none;
  margin: 0 auto; 
  float: none;
  margin-bottom: 15px;
  font-family: spacetext;
}

.card-header {
  padding: 0;
}

.page-link, .pageLimitSelector {
  color: cyan;
  border-color: cyan;
  font-weight: bold;
  background-color: transparent;
  margin:auto;
}

.page-link:hover, .pageLimitSelector:hover {
  color: black;
  border-color: cyan;
  font-weight: bold;
  background-color: cyan;
  margin:auto;
}

#addToBasketBtn {
  position: absolute;
  top: 0;
  left: 0;;
  overflow: hidden;
  z-index: 1;
  font-family: spacetext-bold;
}
footer{
  background-color: #000c14;
  /* font-family: spacetext-bold; */
}
footer a,
footer p{
  text-decoration: none;
  color: rgba(255,255,255,.5);
}
footer a:hover{
  text-decoration: none;
  color: #0a898d;
}
footer h3,
footer h6{
  color: #fff
}
#showProductDetailsBtn {
  margin-bottom: 10px;
  cursor: pointer;
  background-color: cyan;
  font-family: spacetext-bold;
}

#productsPageBackground {
  background: url("./../images/background/altalanos2.jpg");
  position: absolute;
  margin: 0;
 
}

#productDetailsPageMenu {
  position: absolute;
  color: #fff;
  background-color: rgba(248, 248, 248, 0.3);
  border: #fff;
  margin: 0;
}

#addToBasketWithIcon {
  background-color: rgb(75, 71, 71);
  color: #fff;
  padding: 0;
  margin: 0;
}