/* ANGULAR VALIDACIÓS STYLE
A form-ra csak tedd rá class-nek, hogy simple-form
és az error message-re , hogy text-invalid
ÉS utána minden király:)) */

.simple-form input {
    margin: 0 .25rem;
    min-width: 125px border: 1px solid #eee;
    border-left: 10px solid;
    border-radius: 5px;
    transition: border-color .5s ease-out;
}

.simple-form input {
    border-left-color: #999;
}

.simple-form input.valid {
    border-left-color:rgb(26, 122, 31);

}

.simple-form input.invalid {
    border-left-color: salmon;

}

.simple-form p.error {
    display: none;
    color: salmon;
}

meter {
    display: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 0 auto 1em;
    width: 100%;
    height: 0.5em;
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

meter[value="1"]{ background: red; }
meter[value="2"]{ background: yellow; }
meter[value="3"]{ background: orange; }
meter[value="4"]{ background: green; }
