<div class="container">
    <div class="row mt-5 justify-content-center">
        <h2 class="heading"> New product admin </h2>
    </div>
  </div>

<div class="d-flex justify-content-center">
  <div class="newInputs" id="baseContainer">
    <form class="form simple-form"
          #newProductForm="ngForm"
          novalidate
          (submit)="onCreate()">
      <div class="text-center"><label for="name">Name</label></div>
      <input class="form-control"
             type="text"
             name="name"
             id="name"
             placeholder="Name"
             [(ngModel)]="newProduct.productName"
             (ngModelChange)="updateUrlPostfix($event)"
             required
             #newName='ngModel'
             pattern="^\S[A-Za-z0-9]*(\s{1}[A-Za-z0-9]+)*\S$">
      <p *ngIf="newName.invalid && newName.touched"
         class="text-invalid">Invalid name. One space and letters, numbers only!</p>
      <div class="text-center"><label for="urlPostfix">Url-Postfix</label></div>
      <input class="form-control disable"
             type="text"
             name="urlPostfix"
             id="urlPostfix"
             [ngModel]="newProduct.productName | searchFriendlyName : productList "
             required
             readonly
             #newUrl='ngModel'
             pattern="^(?!This postfix is already exist).*$">
      <p *ngIf="newUrl.invalid"
         class="text-invalid text-center">Please write a non-registered product's name!</p>
      <div class="text-center"><label for="type">Type</label></div>
      <select class="form-control custom-select"
              id="type"
              name="type"
              [(ngModel)]="newProduct.type">
        <option name="type"
                [value]="human">human meal</option>
        <option name="type"
                [value]="alien">alien meal</option>
        <option name="type"
                [value]="drinks">drink</option>
      </select>
      <div class="text-center"><label for="price">Price</label></div>
      <input class="form-control"
             type="number"
             name="price"
             id="price"
             placeholder="price"
             [(ngModel)]="newProduct.price"
             required
             #newPrice='ngModel'
             min="1"
             pattern="^[0-9]+$">
      <p *ngIf="newPrice.invalid && newPrice.touched"
         class="text-invalid">This field is required, please fill it up!</p>
      <div class="text-center"><label for="price">Active/Inactive product</label></div>
      <select class="form-control"
              id="active"
              name="active"
              [(ngModel)]="newProduct.active">
        <option [value]="0">Inactive</option>
        <option [value]="1">Active</option>
      </select>
      <br>
      <div class="text-center">
        <button class="btn greenBtn"
                [disabled]="!newProductForm.form.valid">Add new product</button>
      </div>
    </form>
  </div>
</div>
