<div class="text-center">
  <h2>New product - admin</h2>
</div>
<br>
<div class="d-flex justify-content-center">
       <div class="newInputs">
              <form class="form simple-form" #newProductForm="ngForm" novalidate
                    (submit)="onCreate()">
                     <div class="text-center"><label for="name">Name</label></div>
                     <input class="form-control"
                            type="text"
                            name="name"
                            id="name"
                            placeholder="Name"
                            [(ngModel)]="newProduct.productName"
                            (ngModelChange)="updateUrlPostfix($event)"
                            required
                            #newName='ngModel'
                            pattern="^\S[A-Za-z0-9]*(\s{1}[A-Za-z0-9]+)*\S$">
                            <p  *ngIf="newName.invalid && newName.touched" class="text-invalid">Invalid, only one space and letters, numbers only!</p>       
                     <div class="text-center"><label for="urlPostfix">Url-Postfix</label></div>
                     <input class="form-control disable"
                            type="text"
                            name="urlPostfix"
                            id="urlPostfix"
                            [ngModel]="newProduct.productName | searchFriendlyName : productList "
                            required
                            readonly
                            #newUrl='ngModel'
                            pattern="^(?!This postfix is already exist).*$">
                            <p  *ngIf="newUrl.invalid" class="text-invalid">Please write a not existing products name!</p>
                     <div class="text-center"><label for="type">Type</label></div>
                     <input class="form-control"
                            type="text"
                            name="type"
                            id="type"
                            placeholder="Type"
                            [(ngModel)]="newProduct.type"
                            required
                            #newType='ngModel'>
                            <p  *ngIf="newType.invalid && newType.touched" class="text-invalid">Required to fill up!</p>    
                     <div class="text-center"><label for="price">Price</label></div>
                     <input class="form-control"
                            type="number"
                            name="price"
                            id="price"
                            placeholder="price"
                            [(ngModel)]="newProduct.price"
                            required
                            #newPrice='ngModel'
                            min="1"
                            pattern="^[0-9]+$">
                            <p  *ngIf="newPrice.invalid && newPrice.touched" class="text-invalid">Required to fill up!</p>    
                     <br>
                     <div class="text-center">
                            <button class="btn btn-info" [disabled]="!newProductForm.form.valid">Add</button>
                     </div>
              </form>
       </div>
</div>